<div class="container">
    <div class="footer-columns">
      <div class="footer-column">
        <h3>Mission</h3>
        <p>Crafting seamless web experiences with a blend of aesthetics and functionality, I'm here to turn your digital visions into reality.</p>
      </div>
      <div class="footer-column">
        <h3>Quick links</h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Get in touch</h3>
        <p>Email: joaopedroalencar@hotmail.com</p>
        <p>Phone: +1 (437) 580-3009</p>
      </div>
      <div class="footer-column">
        <h3>Media</h3>
        <a href="https://github.com/joaopedrocalencar">My GitHub</a>
        
      </div>
    </div>
  </div>
