<<<<<<< HEAD
<div class="footer-container">
  <div class="footer-columns">
    <div class="footer-column">
      <h3 class="column-title">Quick Links</h3>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3 class="column-title">  
        Get in touch
        <a href="/contact">
          <i class="bi bi-box-arrow-in-up-right arrow-link"></i>
        </a>
        </h3>
      <p>Email: joaopedroalencar@hotmail.com</p>
      <p>Phone: +1 (437) 580-3009</p>
    </div>
    <div class="footer-column">
      <h3 class="column-title">Follow me!</h3>
      <i class="social-icon bi bi-instagram"></i>
      <i class="social-icon bi bi-twitter"></i>
      <i class="social-icon bi bi-linkedin"></i>
      <i class="social-icon bi bi-github"></i>
=======
<div class="container">
    <div class="footer-columns">
      <div class="footer-column">
        <h3>Mission</h3>
        <p>Crafting seamless web experiences with a blend of aesthetics and functionality, I'm here to turn your digital visions into reality.</p>
      </div>
      <div class="footer-column">
        <h3>Quick links</h3>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Get in touch</h3>
        <p>Email: joaopedroalencar@hotmail.com</p>
        <p>Phone: +1 (437) 580-3009</p>
      </div>
      <div class="footer-column">
        <h3>Media</h3>
        <a href="https://github.com/joaopedrocalencar">My GitHub</a>
        
      </div>
>>>>>>> b9418a7250383e57cb543ce76d933c7653536924
    </div>
  </div>
</div>
<style>
  .arrow-link{
    font-size: 15px;
    padding-left: 5px;
  }

  .social-icon {
    align-items: center;
    margin-top: 20px;
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
  }

  .bi-instagram {
    background: linear-gradient(45deg, #833AB4, #C13584);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bi-twitter {
    color: #1DA1F2;
  }

  .bi-linkedin {
    color: #0077B5;
  }

  .footer-container {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
    width: 80%;
    margin: auto;
    max-width: 100vw;
  }

  .footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-column {
    width: 25%;
    padding: 0 20px;
  }

  .footer-column .column-title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .footer-column p {
    margin-bottom: 10px;
  }

  .footer-column ul {
    list-style: none;
    padding: 0;
  }

  .footer-column ul li {
    margin-bottom: 5px;
  }

  .footer-column ul li a {
    color: #fff;
    text-decoration: none;
    position: relative;
  }

  .footer-column ul li a:hover {
    text-decoration: underline;
  }
</style>