<<<<<<< HEAD
<main>
    <h1>Página Home</h1>
    <p>Este é o conteúdo da página Home.</p>
</main>
=======
<body>
  

  <div id="content">
    <h2>HOME</h2>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
<style>
    .navbar-nav .nav-item .nav-link.active {
      background-color: #9210ac;
      color: #fff;
    }
  </style>
</html>
>>>>>>> 19f4ccbe5bf561d73bc8f26bcf6fe40ee56823e1
